/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* Fonts */

@font-face {
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/sans-serif/roboto-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("../fonts/sans-serif/lato-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Typography */

p {
    font-family: roboto, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: lato, Helvetica, sans-serif;
    letter-spacing: 0.0325rem;
}

.highlight {
    font-family: ultra, Georgia, serif;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    transform: rotate(8deg); 
}

.highlight {
    display: inline-block;
    font-family: ultra, Georgia, serif;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #D9D9D9;
    background-color:#5354a6; 
    box-shadow: 5px 5px 4px -1px #888;
}

.different {
    color: #97A4A6;
    text-decoration: line-through;
    transform: rotate(-5deg);
}

/* General Setup and Defaults */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

header {
    padding: 1rem 0 0rem 0;
}

nav {
    margin-top: 3rem;
}

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}

time {
    font-family: lato, Arial, sans-serif;
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid #888;
    padding-left: 0.75rem
}

aside p {
    border-bottom: 1px solid #888;
    padding-bottom: 0.5rem;
}


aside button {
    display: inline-block;
    font-family: ultra, Georgia, serif;
    border: 1px solid black;
    padding: .5rem .5rem;
    border-radius: .3rem;
    color: #D9D9D9;
    background-color:#5354a6; 
    box-shadow: 5px 5px 4px -1px #888;
    font-size: 1.5rem;
    
}

.expand {
    font-size: .5rem;
}

.subsection {
    display: flex;
}

/* Images */

img {
    width:100%;
}

figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    margin-right: .75rem;
    float: left;

}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #97A4A6;
}

/* Links and Nav */

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-family: lato, Arial, sans-serif;
    color: #5354a6;
}


nav {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}



/* footer */

.footer {
    text-decoration: none;
}

.copyright {
    float: left;
}

footer p {
    float: right;
    text-decoration: none;
    font-size: .8rem;
}



